@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
@font-face {
  font-family: 'entypoSocial';
  src: url("/fonts/entypo-social.ttf"), url("/fonts/entypo-social.eot"); }

/* line 10, all.scss */
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #555555; }

/* line 16, all.scss */
body {
  background-color: #f2f2f2;
  margin: 0; }

/* line 21, all.scss */
a {
  text-decoration: none; }

/* line 26, all.scss */
img, a img {
  border-style: none; }

/* line 30, all.scss */
nav {
  position: fixed;
  width: 100%; }

/* line 35, all.scss */
nav a {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0.5;
  width: 50px;
  height: 94px;
  background-repeat: no-repeat;
  -webkit-transition: left 0.15s, right 0.15s;
  -moz-transition: left 0.15s, right 0.15s;
  transition: left 0.15s, right 0.15s; }

/* line 49, all.scss */
#previous:hover {
  left: -10px;
  padding-right: 10px; }

/* line 54, all.scss */
#next:hover {
  right: -10px;
  padding-left: 10px; }

/* line 59, all.scss */
nav #previous {
  left: 0;
  margin-left: 50px;
  background-image: url(/images/previous.png);
  background-position: center left; }

/* line 66, all.scss */
nav #next {
  right: 0;
  margin-right: 50px;
  background-image: url(/images/next.png);
  background-position: center right; }

/* line 73, all.scss */
#menu {
  text-align: right;
  padding-right: 100px;
  padding-top: 50px; }

/* line 79, all.scss */
#menu a {
  color: #555555;
  margin-right: 10px; }

/* line 84, all.scss */
#menu a:hover {
  text-decoration: underline; }

/* line 88, all.scss */
h1 {
  font-size: 2.4em;
  color: #007f1d;
  text-align: center;
  background-image: url(/images/title-line.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 20px; }

/* line 98, all.scss */
h1 a {
  color: #007f1d;
  background-image: url(/images/back.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  margin-left: -30px;
  padding-top: 0px;
  -webkit-transition: padding 0.15s, margin 0.15s;
  -moz-transition: padding 0.15s, margin 0.15s;
  transition: padding 0.15s, margin 0.15s; }

/* line 111, all.scss */
h1 a:hover {
  padding-left: 35px;
  margin-left: -35px; }

/* line 116, all.scss */
article .subheading {
  text-align: center;
  margin-top: -19px;
  margin-bottom: 19px; }

/* line 122, all.scss */
article h2 {
  text-align: center;
  margin-bottom: 19px; }

/* line 127, all.scss */
.more-projects h2 {
  text-align: center;
  width: 780px;
  margin: auto auto 0.2em auto; }

/* line 134, all.scss */
#projects h3 {
  text-transform: uppercase;
  color: #007f1d;
  margin-bottom: 5px;
  padding-top: 20px;
  font-size: 1.5em;
  clear: both; }

/* line 143, all.scss */
#projects h3:first-child {
  padding-top: inherit; }

/* line 147, all.scss */
p {
  width: 700px;
  margin: auto;
  color: #313131; }

/* line 154, all.scss */
article p {
  line-height: 1.5em; }

/* line 158, all.scss */
p a {
  text-decoration: underline;
  white-space: nowrap; }

/* line 163, all.scss */
article iframe, article img {
  margin: 10px auto 40px auto;
  display: block;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0 0 3px #888888;
  max-width: 660px; }

/* line 173, all.scss */
#projects {
  width: 780px;
  padding: 0 0 0 30px;
  margin: 20px auto auto auto; }

/* line 179, all.scss */
.more_projects {
  text-align: center;
  margin-top: 3em; }
  /* line 183, all.scss */
  .more_projects a {
    font-size: 1.4em; }

/* line 189, all.scss */
.project {
  width: 220px;
  height: 300px;
  vertical-align: top;
  margin-right: 26px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: .5em;
  border: 5px solid white;
  box-shadow: 0 0 0.5em #e6e6e6;
  position: relative;
  display: inline-block; }
  /* line 202, all.scss */
  .project:hover {
    box-shadow: 0 0 0.5em #cccccc; }
  /* line 206, all.scss */
  .project img {
    border-radius: 0.5em 0.5em 0 0; }

/* line 211, all.scss */
.project .date {
  color: #878787;
  font-size: 0.8em; }

/* line 218, all.scss */
.project p, .project h4 {
  margin: 10px 20px; }

/* line 222, all.scss */
.project h4 {
  font-size: 1em;
  text-align: center;
  height: 44px; }

/* line 228, all.scss */
.project p {
  font-size: 0.9em;
  width: auto; }

/* line 233, all.scss */
.project img {
  width: 220px;
  height: 150px;
  margin: 0; }

/* line 239, all.scss */
.project.disabled {
  opacity: 0.6;
  cursor: default;
  box-shadow: 0 0 2px #888888; }

/* line 246, all.scss */
.disabled-label {
  background-color: gray;
  color: white;
  font-size: 0.8em;
  padding: 1px 3px 1px 3px;
  margin-right: 4px;
  border-radius: 4px;
  display: block;
  float: left; }

/* line 257, all.scss */
footer {
  display: block;
  clear: both;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

/* line 265, all.scss */
footer .social {
  margin-top: 10px; }
  /* line 268, all.scss */
  footer .social a {
    font-family: 'entypoSocial';
    font-size: 4em; }

/* line 274, all.scss */
footer:target {
  -webkit-animation: emphasize 1s;
  -moz-animation: emphasize 1s;
  animation: emphasize 1s; }

@-webkit-keyframes emphasize {
  /* line 281, all.scss */
  50% {
    -webkit-transform: rotate(-7deg) scale(1.2); }

  /* line 284, all.scss */
  100% {
    -webkit-transform: rotate(0) scale(1); } }

@-moz-keyframes emphasize {
  /* line 290, all.scss */
  50% {
    -moz-transform: rotate(-7deg) scale(1.2); }

  /* line 293, all.scss */
  100% {
    -moz-transform: rotate(0) scale(1); } }

@keyframes emphasize {
  /* line 299, all.scss */
  50% {
    transform: rotate(-7deg) scale(1.2); }

  /* line 302, all.scss */
  100% {
    transform: rotate(0) scale(1); } }
