@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
/* line 3, all.scss */
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #555555; }

/* line 9, all.scss */
body {
  background-image: url(/images/background-noise.png);
  margin: 0;
  box-shadow: inset 0 0 500px 100px rgba(79, 79, 79, 0.1); }

/* line 15, all.scss */
a {
  text-decoration: none; }

/* line 20, all.scss */
img, a img {
  border-style: none; }

/* line 24, all.scss */
nav {
  position: fixed;
  width: 100%; }

/* line 29, all.scss */
nav a {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0.5;
  width: 50px;
  height: 94px;
  background-repeat: no-repeat;
  -webkit-transition: left 0.15s, right 0.15s;
  -moz-transition: left 0.15s, right 0.15s;
  transition: left 0.15s, right 0.15s; }

/* line 43, all.scss */
#previous:hover {
  left: -10px;
  padding-right: 10px; }

/* line 48, all.scss */
#next:hover {
  right: -10px;
  padding-left: 10px; }

/* line 53, all.scss */
nav #previous {
  left: 0;
  margin-left: 50px;
  background-image: url(/images/previous.png);
  background-position: center left; }

/* line 60, all.scss */
nav #next {
  right: 0;
  margin-right: 50px;
  background-image: url(/images/next.png);
  background-position: center right; }

/* line 67, all.scss */
#menu {
  text-align: right;
  padding-right: 100px;
  padding-top: 50px; }

/* line 73, all.scss */
#menu a {
  color: #555555;
  margin-right: 10px; }

/* line 78, all.scss */
#menu a:hover {
  text-decoration: underline; }

/* line 82, all.scss */
h1 {
  font-size: 2.4em;
  color: #007f1d;
  text-align: center;
  background-image: url(/images/title-line.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 20px; }

/* line 92, all.scss */
h1 a {
  color: #007f1d;
  background-image: url(/images/back.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  margin-left: -30px;
  padding-top: 0px;
  -webkit-transition: padding 0.15s, margin 0.15s;
  -moz-transition: padding 0.15s, margin 0.15s;
  transition: padding 0.15s, margin 0.15s; }

/* line 105, all.scss */
h1 a:hover {
  padding-left: 35px;
  margin-left: -35px; }

/* line 110, all.scss */
article .subheading {
  text-align: center;
  margin-top: -19px;
  margin-bottom: 19px; }

/* line 116, all.scss */
article h2 {
  text-align: center;
  margin-bottom: 19px; }

/* line 121, all.scss */
.more-projects h2 {
  text-align: center;
  width: 780px;
  margin: auto auto 0.2em auto; }

/* line 128, all.scss */
#projects h3 {
  text-transform: uppercase;
  color: #007f1d;
  margin-bottom: 5px;
  padding-top: 20px;
  font-size: 1.5em;
  clear: both; }

/* line 137, all.scss */
#projects h3:first-child {
  padding-top: inherit; }

/* line 141, all.scss */
p {
  width: 700px;
  margin: auto;
  color: #313131; }

/* line 148, all.scss */
article p {
  line-height: 1.5em; }

/* line 152, all.scss */
p a {
  text-decoration: underline; }

/* line 156, all.scss */
article iframe, article img {
  margin: 10px auto 40px auto;
  display: block;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0 0 3px #888888;
  max-width: 660px; }

/* line 166, all.scss */
#projects {
  width: 780px;
  padding: 0 0 0 30px;
  margin: 20px auto auto auto;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); }

/* line 173, all.scss */
.more_projects {
  text-align: center;
  margin-top: 3em; }
  /* line 177, all.scss */
  .more_projects a {
    font-size: 1.4em;
    padding: .5em;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 0 2px #888888;
    background-color: white; }
    /* line 185, all.scss */
    .more_projects a:hover {
      border-color: #EEEFEE; }

/* line 191, all.scss */
.project {
  width: 220px;
  height: 300px;
  vertical-align: top;
  margin-right: 26px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0 0 5px #888888;
  position: relative;
  display: inline-block; }

/* line 205, all.scss */
.project .date {
  color: #878787;
  font-size: 0.8em; }

/* line 210, all.scss */
a.project:hover {
  border-color: #EEEFEE; }

/* line 215, all.scss */
.project p, .project h4 {
  margin: 10px 20px; }

/* line 219, all.scss */
.project h4 {
  font-size: 1em;
  text-align: center;
  height: 44px; }

/* line 225, all.scss */
.project p {
  font-size: 0.9em;
  width: auto; }

/* line 230, all.scss */
.project img {
  width: 220px;
  height: 150px;
  margin: 0; }

/* line 236, all.scss */
.project.disabled {
  opacity: 0.6;
  cursor: default;
  box-shadow: 0 0 2px #888888; }

/* line 243, all.scss */
.disabled-label {
  background-color: gray;
  color: white;
  font-size: 0.8em;
  padding: 1px 3px 1px 3px;
  margin-right: 4px;
  border-radius: 4px;
  display: block;
  float: left; }

/* line 254, all.scss */
footer {
  display: block;
  clear: both;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

/* line 262, all.scss */
footer .social {
  margin-top: 10px; }

/* line 266, all.scss */
footer:target {
  -webkit-animation: emphasize 1s;
  -moz-animation: emphasize 1s;
  animation: emphasize 1s; }

@-webkit-keyframes emphasize {
  /* line 273, all.scss */
  50% {
    -webkit-transform: rotate(-7deg) scale(1.2); }

  /* line 276, all.scss */
  100% {
    -webkit-transform: rotate(0) scale(1); } }

@-moz-keyframes emphasize {
  /* line 282, all.scss */
  50% {
    -moz-transform: rotate(-7deg) scale(1.2); }

  /* line 285, all.scss */
  100% {
    -moz-transform: rotate(0) scale(1); } }

@keyframes emphasize {
  /* line 291, all.scss */
  50% {
    transform: rotate(-7deg) scale(1.2); }

  /* line 294, all.scss */
  100% {
    transform: rotate(0) scale(1); } }
