---
category: user experience
order: 1.2
title: Critical System Design
year: 2012
description: Research, design, testing, and development in 3 months
---

%p This is a client project done with Novabase Consulting. I was responsible for handling the user experience part of the project, and I went through all the stages of designing a user experience.

%img{:src=>"/images/projects/critical-system-design-1.jpg", :width=>"660", :height=>"371", :alt=>"Critical system, used once a year, zero learning curve"}

%p The project started by reading the specifications and the proposal. Everything was in Portuguese, so I had to translate the documents. There was a lot of complicated and unclear information to digest, so I visualized everything into simple graphics.

%img{:src=>"/images/projects/critical-system-design-2.jpg", :width=>"660", :height=>"371", :alt=>"Complicated information was visualized into simple graphics"}

%p Afterwards, I started designing use cases to share with the client for triggering discussion and finding what they have in mind. Instead of showing use cases in the form of bullet points, I decided to show an abstract interface sketch and how it is being used. Designing interfaces usually comes at a much later stage, but in this situation the interface was simply a way to visualize what I had in mind, and this proved to be useful.

%img{:src=>"/images/projects/critical-system-design-3.jpg", :width=>"660", :height=>"371", :alt=>"Use cases process: show use cases to client, discuss, develop coherent concept"}

%p After iterating on use cases twice and conducting contextual inquiries, we designed an affinity diagram and an information architecture that defines the pages in the system and the properties shown in these pages. Great care was given to the flows and names of pages.

%img{:src=>"/images/projects/critical-system-design-4.jpg", :width=>"660", :height=>"371", :alt=>"Affinity diagram"}

%p Next step was using the information architecture to design the interface. I started by using a paper prototype, and after that I developed an HTML5 prototype. The prototype was shared with the client, and together we would come up with rectifications and I would iterate on the prototype.

%img{:src=>"/images/projects/critical-system-design-5.jpg", :width=>"660", :height=>"371", :alt=>"A storyboard with a sketchy look was created by using HTML5, CSS3, JQuery, and JQPlot."}

%p Afterwards, I conducted usability tests with real users. The tests were successful overall (the controller completed tasks successfully), but inconsistent numbers in the prototype tended to throw the user off track.

%img{:src=>"/images/projects/critical-system-design-6.jpg", :width=>"660", :height=>"371", :alt=>"User testing: inconsistent numbers threw users off track."}

%p The last step in the project was implementing the design. I started by sharing the prototype with the developers, and they would point out what is unfeasible or hard to implement. I would then remove or change elements in the design to make it more feasible. We were working under pressure, and sometimes I had to make design decisions on the spot - a challenging task.

%img{:src=>"/images/projects/critical-system-design-7.jpg", :width=>"660", :height=>"371", :alt=>"Working with developers: show storyboard to developers, cut features out, make design decisions on the spot."}

%p The constant advice I received throughout the internship was very helpful, and the Novabase environment allowed me to bring my own skills to the team as well as discover what each member has to offer. I went through research, design, testing, and implementation in just 3 months, and this makes my internship a very successful one.
