---
category: user experience
order: 1.1
title: Cute Post
year: 2013
description: Responsive web app to design awesome Facebook posts
---

%p
	%a{:href=>'http://cutepost.batlounis.com', :target=>'_blank'} Cute Post
	is a personal project that I founded and am constantly designing and developing. It's a web app where you can meticulously design appealing Facebook posts. So far, the available tools are typography and color. Experience the app
	%a{:href=>'http://cutepost.batlounis.com', :target=>'_blank'} here.
%img{:src=>"/images/projects/cute-post-1.jpg", :width=>"660", :height=>"378", :alt=>"Cute Post running on iPad, iPhone, and MacBook"}

%p The app started as Typography Lab, a typography tool without a purpose. It was then changed to Small Doc, a one-page word processor. And finally, it's a tool to design awesome Facebook posts.
%img{:src=>"/images/projects/cute-post-2.jpg", :width=>"660", :height=>"431", :alt=>"A Cute Post on Facebook"}

%p In this project, I gave a lot of attention to the few yet powerful controls. I am still exploring how the menu should be laid out, and how to select which line to edit. I frequently show the app to friends and ask for feedback, and recently launched tiny $1/day Facebook campaigns to test market potential.
%img{:src=>"/images/projects/cute-post-3.jpg", :width=>"660", :height=>"267", :alt=>"Interface showing menu and color"}

%p I wanted to encourage users to write their own text, so now I ask users to write something from the home screen. To increase engagement, users can reply to a Facebook post through a link. I'm currently working on creating a more inviting home screen.
%img{:src=>"/images/projects/cute-post-4.jpg", :width=>"623", :height=>"337", :alt=>"Home interface"}