---
category: user experience
order: 1.2
title: Gardlen
year: 2010
description: A website and iPhone app that helps you find places to go to in Lebanon
---

%p
	%a{:href=>"http://www.gardlen.com", :target=>"_blank"} Gardlen.com
	is an individual project. I designed, implemented, collected data, and took pictures, all myself. This project was made for the sole reason of having fun!	
	%a{:href=>"http://www.facebook.com/gardlen", :target=>"_blank"} Gardlen's Facebook page	
	is at 13,000 fans and counting. Visitors spend an average of 6 minutes on the website.

%img{:src=>"/images/projects/gardlen-1.jpg", :width=>"660", :height=>"487", :alt=>"Gardlen homepage"}

%p Users access useful information quickly, and can scroll for further details. Pictures are strategically implemented in the website. Places in Gardlen link to their Facebook pages using its Graph.

%img{:src=>"/images/projects/gardlen-2.jpg", :width=>"660", :height=>"765", :alt=>"Place on Gardlen"}

%p Place owners can connect with their Facebook accounts and add a new place. Here, Gardlen simplifies complicated details with intuitive, simple forms.

%img{:src=>"/images/projects/gardlen-3.jpg", :width=>"660", :height=>"455", :alt=>"Adding a place to Gardlen"}

%p I implemented Gardlen using Ruby on Rails and MySQL. The website runs on a virtual server with modest specs. Database and traffic growth slowed the load time so I added caching functionality using memcached. Average load time improved to 100-200ms. The below form is used to explore places. The form is based on AJAX and CSS3.

%img{:src=>"/images/projects/gardlen-4.jpg", :width=>"660", :height=>"466", :alt=>"Exploring places on Gardlen"}

%p I interviewed managers and took pictures for every place listed on Gardlen. There were many challenges: I introduced my website in a short and concise manner to 150 establishments in two months.

%img{:src=>"/images/projects/gardlen-5.jpg", :width=>"660", :height=>"456", :alt=>"Listing places in a region, Hamra"}

%p One year after launching Gardlen, I designed and developed an iPhone app. The app updates with the website when online, and saves the data for offline use. I'm proud of my product!

%img{:src=>"/images/projects/gardlen-6.jpg", :width=>"660", :height=>"527", :alt=>"Gardlen's iPhone app"}