---
category: service design
order: 2.2
title: Home Services Startup
year: 2012
description: An online service where you book home services. 3DS Winner.
---

%p Home Services is a group project that was part of an event called 3 Day Startup Lisbon. I came up with the idea, and I was the team leader. After 3 days of intensive work, my team won. The event started by identifying problems people have with home services. We also identified the potential market from a startup perspective.

%img{:src=>"/images/projects/home-services-startup-1.jpg", :width=>"660", :height=>"566", :alt=>"Identified problems and potential market"}

%p The project's idea can be summed up in one sentence: an online service where you book your domestic needs with trust. We made sure to think, brainstorm, and thoroughly explain what "book" and "trust" meant in this context, along with preliminary designs.

%img{:src=>"/images/projects/home-services-startup-2.jpg", :width=>"660", :height=>"426", :alt=>"Unique Value Proposition: online service where you book your domestic needs with trust."}

%p We identified metrics to evaluate whether our project is successful at launch. Revenue numbers accompanied those metrics.

%img{:src=>"/images/projects/home-services-startup-3.jpg", :width=>"660", :height=>"193", :alt=>"Evaluation metrics"}

%p On the third day, I presented our idea to a group of investors. The presentation focused on elements from the lean canvas, which is a variation of the business model. There were 7 competing projects, and the investors voted for our winning project!

%img{:src=>"/images/projects/home-services-startup-4.jpg", :width=>"660", :height=>"440", :alt=>"Presenting the project and winning the event"}
