---
title: Hello
---

	
%p I'm Salim, and I'm doing my Master's in Human-Computer Interaction at Carnegie Mellon University. Please take a look at my work below.

#projects
	- grouped_projects.each do |category, pages|
		%h2= category
		- pages.each do |page|
			- link_to page, :class=>'project' do
				%img{:src=>'/images/projects/'+page.data["title"].parameterize+'.jpg'}
				%h3= page.data["title"]
				%p
					= page.data["description"]
					%span.date= page.data["year"]