---
category: experimental
order: 3.2
title: iPad Magazine
year: 2011
description: Design for modern architecture e-magazine, built with InDesign
---

%p The iPad Magazine is a group design project, part of the Interaction Design Fundamentals course. My role was conducting visual design and presentation development.

%img{:src=>"/images/projects/ipad-magazine-1.jpg", :width=>"600", :height=>"801", :alt=>"Design for an article title page"}

%p The pre-design consisted of personas, mood boards, and a competitive analysis.

%img{:src=>"/images/projects/ipad-magazine-2.jpg", :width=>"660", :height=>"397", :alt=>"Personas"}

%p Next, we built a design language using typeface, color palette, and oblique shapes distinctive to our magazine. During our critique we received positive reviews from fellow students and faculty.

%img{:src=>"/images/projects/ipad-magazine-3.jpg", :width=>"600", :height=>"803", :alt=>"Design for an article text page"}
