---
category: user experience
order: 3
title: Kids Interact with Earth
year: 2012
description: Experience prototype that shows significance of segregating trash
---

%p This is a group design project, part of the Basic Interaction Design course. I did research, ideation, prototype implementation, and prototype testing. The project's objective is to change children's attitude by teaching them about the importance of segregating trash. The below video shows the construction and experience of the prototype.

%iframe#video{:src=>"http://player.vimeo.com/video/40667648?title=0&amp;byline=0&amp;portrait=0", :width=>"600", :height=>"338", :frameborder=>"0", :webkitAllowFullScreen=>true, :mozallowfullscreen=>true, :allowFullScreen=>true}

%p Through the use of personas and storyboards, we came up with the idea of a globe in which children can throw trash. The experience starts with a sad globe, and when children throw trash in the correct section, earth becomes happier (and vice versa).

%img{:src=>"/images/projects/kids-interact-with-earth-1.jpg", :width=>"500", :height=>"445", :alt=>"Prototype sketch"}

%p
	Children found the experience exciting and engaging. They grasped the significance of earth immediately and enjoyed the reward. The children interacting with the display can be viewed in the video
	%a{:href=>"#video"} above

%img{:src=>"/images/projects/kids-interact-with-earth-2.jpg", :width=>"500", :height=>"397", :alt=>"Prototype construction"}
