---
category: user experience
order: 101
title: Loqal
year: 2012
description: iPhone app that helps find local and authentic pieces during travel
---

%p Loqal is an iPhone app that was designed as a group project, part of the Basic Interaction Design course. My role was finding a focus, conducting research, ideation, sketching, visual design, interaction design, visual design, video shooting, and video editing. The app helps find local and authentic pieces during travel, and helps assign these pieces as gifts to friends. The below video is an enactment showing how the app is used.

%iframe{:src=>"http://player.vimeo.com/video/38384167?title=0&amp;byline=0&amp;portrait=0", :width=>"600", :height=>"338", :frameborder=>"0", :webkitAllowFullScreen=>true, :mozallowfullscreen=>true, :allowFullScreen=>true}

%p The inspiration for Loqal was from observations around Madeira island. Tourists often look for shops that are not touristic. From the observations we created personas and their scenarios. The storyboard below shows how the persona Trisha uses Loqal.

%img{:src=>"/images/projects/loqal-1.jpg", :width=>"550", :height=>"512", :alt=>"Scenario sketch"}

%p The next step involved designing the interaction with the app. There are 2 main screens: the first is a map with the shops highlighted, and the second screen is a list of friends and the gifts assigned to them.

%img{:src=>"/images/projects/loqal-2.jpg", :width=>"660", :height=>"633", :alt=>"Loqal app screenshots"}
