---
category: service design
order: 7
title: Parque Natural
year: 2012
description: Increase environmental awareness in Madeira's natural reserves
---

%p This is a team project that spans two semesters and aims to increase environmental awareness. Our client is Parque Natural, the organization that manages the natural reserves of Madeira island. My role is tech lead and documentation lead, and I actively participate in the design and research involved. The video below introduces our project.

%iframe{:src=>"http://player.vimeo.com/video/39067174", :width=>"600", :height=>"338", :frameborder=>"0", :webkitAllowFullScreen=>true, :mozallowfullscreen=>true, :allowFullScreen=>true}

%p During Spring 2012 we conducted research. The user groups of interest are tourists, locals, farmers and fishermen. The map below shows areas we visited: nature paths, ocean activities, farms, sea ports and fresh food markets.

%img{:src=>"/images/projects/parque-natural-1.jpg", :width=>"660", :height=>"601", :alt=>"Areas we visited during research"}

%p During these visits, we employed 4 research methods: observations, contextual inquiries, questionnaires, and storytelling. The following figure summarizes the research plan.

%img{:src=>"/images/projects/parque-natural-2.jpg", :width=>"660", :height=>"292", :alt=>"Summary of research methods and user groups"}

%p After getting research data, we consolidated it using affinity notes and cultural models. We built our models on the whiteboard and digitized them using Omnigraffle.

%img{:src=>"/images/projects/parque-natural-3.jpg", :width=>"660", :height=>"472", :alt=>"Building cultural models"}

%p I created the physical model below using Adobe Illustrator. The model visually summarizes the insights we identified from research.

%img{:src=>"/images/projects/parque-natural-4.jpg", :width=>"660", :height=>"285", :alt=>"Physical model"}

%p The Spring semester ended with a client presentation and a report to the client. We currently have 11 personas and several ideas from the envisioning sessions. During Fall 2012, we will settle on a coherent solution and implement it.

%img{:src=>"/images/projects/parque-natural-5.jpg", :width=>"500", :height=>"355", :alt=>"Cover for client report"}
