---
category: service design
order: 2.1
title: Parque Natural
year: 2012
description: An environmental awareness project targeting farmers & fishermen
---

%p 
	This is a team project that spanned two semesters and aims to increase environmental awareness for farmers and fishermen. Our client was Parque Natural, the organization that manages the natural reserves of Madeira island. I took part in the research, ideation, and interaction design, and was responsible for the development of the final product. The project page is at
	%a{:href=>"http://euphorbia.m-iti.org", :target=>'_blank'} euphorbia.m-iti.org.
	You can experience the
	%a{:href=>"http://euphorbia.m-iti.org/be-eco-app/index_en.html", :target=>'_blank'} final product
	on desktop and tablet.
	
%iframe{:src=>"http://player.vimeo.com/video/55763735", :width=>"660", :height=>"363", :frameborder=>"0", :webkitAllowFullScreen=>true, :mozallowfullscreen=>true, :allowFullScreen=>true}

%p During Spring 2012 we conducted research. Our target, farmers and fishermen, was very challenging: they believe that Parque Natural's interests oppose theirs, and they are not familiar with technology. During these visits, we employed 4 research methods: observations, contextual inquiries, questionnaires, and storytelling. The following figure summarizes the research plan.
%img{:src=>"/images/projects/parque-natural-1.jpg", :width=>"660", :height=>"292", :alt=>"Summary of research methods and user groups"}

%p After getting research data, we consolidated it using affinity notes and cultural models. Brainstorming and coming up with an idea was a tough process because of the wide scope and difficult target.
%img{:src=>"/images/projects/parque-natural-2.jpg", :width=>"660", :height=>"472", :alt=>"Building cultural models"}

%p The final idea was to create a learning experience. To create an authentic connection with farmers and fishermen, we created drawing activities with school children in their communities.
%img{:src=>"/images/projects/parque-natural-3.jpg", :width=>"660", :height=>"365", :alt=>"Drawing activities with children"}

%p
	We extracted elements from the children's drawings to create a learning experience, which Parque Natural aims to run on a tablet as part of their workshops with farmers and fishermen. The learning experience is a journey in the sea and on land. Throughout the journey, the character has to make decisions, and visual animations forward in time and show consequences. Experience the journey yourself
	%a{:href=>"http://euphorbia.m-iti.org/be-eco-app/index_en.html", :target=>'_blank'} here.
%img{:src=>"/images/projects/parque-natural-4.jpg", :width=>"660", :height=>"432", :alt=>"Final product screenshot - fisherman journey underwater"}

%p We arrived to the final product after several usability testing with our target users. The first stage was a paper prototype, followed by a digital prototype. Changes were made to the concept as well as interaction details.
%img{:src=>"/images/projects/parque-natural-5.jpg", :width=>"660", :height=>"469", :alt=>"Usability testing the prototype"}

%p Fishermen and farmers are only going to interact with our experience in the workshops. To maintain a connection, we designed playing cards to offer them. These playing cards have messages from the experience.
%img{:src=>"/images/projects/parque-natural-6.jpg", :width=>"660", :height=>"429", :alt=>"Playing cards"}

%p Throughout testing, users enjoyed the experience, played several times, and compared scores with others. Our client was very satisfied. It was a challenging project where our users, farmers and fishermen, were not comfortable neither with us nor with technology.
%img{:src=>"/images/projects/parque-natural-7.jpg", :width=>"660", :height=>"333", :alt=>"Madeira's superb nature"}

