---
category: experimental
order: 3.2
title: Purse Redesign
year: 2012
description: Making women's purses more functional by using human factors
---

%p This is a 2-person project, part of a Human Factors course. The project's domain is women's purses, which are seen as having form without function. My teammate and I participated in both research and design.
%img{:src=>"/images/projects/purse-redesign-1.jpg", :width=>"400", :height=>"330", :alt=>"Purse sketch"}

%p In the research phase of the project, we sent out questionnaires, performed task analysis, and conducted a user study with 3 users under different settings, like catching a bus and reaching out for the bus pass in the purse. We discovered issues like having a lot of pockets and a dark interior.
%img{:src=>"/images/projects/purse-redesign-2.jpg", :width=>"660", :height=>"471", :alt=>"User study: running to catch the bus"}

%p Based on research, we redesigned the purse to have a main compartment and a smaller one. The smaller compartment is cone shaped so that small items fall down, and the user eventually knows where an item is based on its size. Each compartment has a different bright color, giving the user an affordance as to where the item is.
%img{:src=>"/images/projects/purse-redesign-3.jpg", :width=>"660", :height=>"403", :alt=>"Sketch of a redesigned purse showing 2 compartments"}

%p To fit big items like paper or an iPad, the purse has a third virtual compartment, which spans the width of the purse. That's because the smaller compartment doesn't take the full depth of the purse.
%img{:src=>"/images/projects/purse-redesign-4.jpg", :width=>"660", :height=>"359", :alt=>"A third virtual compartment"}

%p The project did not involve testing the product. Still, the ladies present in the class gave a thumbs-up, along with very helpful recommendations.