---
category: experimental
order: 3.2
title: Sketching
year: 2011
description: Showing ideas using objects, hands, and sequences
---

%p Methodology of Visualization taught how to produce not-necessarily-pretty but believable sketches to convey an idea in a short amount of time. All the projects are individual work.

%img{:src=>"/images/projects/sketching-1.jpg", :width=>"660", :height=>"427", :alt=>"Cubic shapes"}

%p This is a pantograph sketched on gray paper. The 3D effect is made using white pastel and gray markers in 10 shades.

%img{:src=>"/images/projects/sketching-2.jpg", :width=>"494", :height=>"650", :alt=>"Pantograph sketched on gray paper"}

%p Hands in this figure show a hypothetical object's use. This project made me recognize the value of hands to convey usage.

%img{:src=>"/images/projects/sketching-3.jpg", :width=>"500", :height=>"593", :alt=>"Hands using a hypothetical object"}

%p This project studies interaction between humans and the surroundings in an action sequence.

%img{:src=>"/images/projects/sketching-4.jpg", :width=>"660", :height=>"281", :alt=>"Storyboard"}