---
category: visual design
order: 103
title: Typography and Grid
year: 2011
description: Poster design that combines graphics, typography, and use of grid
---

%p This is an individual assignment that combines typography and use of grid to convey a complicated event schedule in a simple format. The below figure is the first of two final versions.

%img{:src=>"/images/projects/typography-and-grid-1.jpg", :width=>"600", :height=>"784", :alt=>"First design"}

%p This is the second version I designed, which is catchy and modern.

%img{:src=>"/images/projects/typography-and-grid-2.jpg", :width=>"600", :height=>"789", :alt=>"Second design"}
