---
category: service design
order: 2.3
title: Virtual Pantry
year: 2012
description: Service design for food consumption during economic crisis
---

%p This is a service that we designed as a team for the Service Design course project. My role was conducting research and ideation, and building the customer journey, the blueprint, and the business model. The project's focus is food consumption during the economic crisis in Europe. The below video is an enactment that shows our service being used through all the touchpoints.

%iframe{:src=>"http://player.vimeo.com/video/42761444", :width=>"600", :height=>"338", :frameborder=>"0", :webkitAllowFullScreen=>true, :mozallowfullscreen=>true, :allowFullScreen=>true}

%p We started by constructing a territory map and chose the focus of food consumption. Afterwards we created the stakeholders map to identify the people we want to interview. After our findings, we came up with personas and scenarios. The below picture is the stakeholders map.

%img{:src=>"/images/projects/virtual-pantry-1.jpg", :width=>"660", :height=>"440", :alt=>"Stakeholders map"}

%p After brainstorming, we settled on the concept of a virtual pantry. This is a service that lets people buy discounted items in bulk from the supermarket, and physically get them later. This is especially useful for fresh items. The picture below shows our concept.

%img{:src=>"/images/projects/virtual-pantry-2.jpg", :width=>"660", :height=>"482", :alt=>"Concept of Virtual Pantry"}

%p The customer journey below highlights the touchpoints the customer goes throw, starting with attracting the customer and until the customer suggests the service to their surrounding.

%img{:src=>"/images/projects/virtual-pantry-3.jpg", :width=>"660", :height=>"496", :alt=>"Customer journey"}

%p The blueprint below connects the customer journey with onstage persons and backstage processes that are needed to support touchpoints.

%img{:src=>"/images/projects/virtual-pantry-4.jpg", :width=>"660", :height=>"495", :alt=>"Blueprint"}

%p The business model below shows the cost and revenue structures, and connects the entries with resources, activities, partners and customers. The project received positive reviews from fellow students and faculty, and was presented in local news stations.

%img{:src=>"/images/projects/virtual-pantry-5.jpg", :width=>"660", :height=>"494", :alt=>"Business model"}
